* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: white;
    font-family: 'Inconsolata', monospace;
}
body {
    background-color: #111732; /* Old browsers */
    background-color: -moz-linear-gradient(left,  #111732 0%, #3d757e 100%); /* FF3.6-15 */
    background-color: -webkit-linear-gradient(left,  #111732 0%,#3d757e 100%); /* Chrome10-25,Safari5.1-6 */
    background-color: linear-gradient(to right,  #111732 0%,#3d757e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111732', endColorstr='#3d757e',GradientType=1 ); /* IE6-9 */
    overflow-x: scroll;
    background-attachment: fixed;
    background-image: url(../images/bg.png);
}
.container {

}
.header{
    text-align: center;
    width: 100%;
    position: fixed;
    top: 1rem;
}
h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 1rem;
}
.progress-bar__outside {
    width: 95%;
    border: 1px solid darkgray;
    margin: 0 auto;
    padding: 0;
    border-radius: 20px;
}
.progress-bar__inside {
    background: #C45B00; /* Old browsers */
    background: -moz-linear-gradient(left,  #2D919C 0%, #C45B00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #2D919C 0%,#C45B00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #2D919C 0%,#C45B00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 20px;
    width: 0%;
}
h6 {
    font-size: 1.4rem;
}
h5{
    text-align: left;
    font-size: 1.5rem;
    margin: 3rem;
}
.vertical-scroll-container{
    margin: 15rem 3rem 0 2rem;
}
.main-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: no-wrap;
    margin: 0;
    list-style-position: inside;
}
.task-name {
    width: 25%;
    flex: none;
    font-size: 3rem;
    margin: 0 1.2rem 0 0.5rem;
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;

}
.subtasks-list {
    font-size: 1.2rem;
    font-weight: 400;
}
.subtask {
    margin: 1rem 0;
}
.subtask:hover,
.subsubtask:hover {
    cursor: pointer;
    user-select: none;
}
.subsubtask {
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
}
.done {
    text-decoration: line-through;
    opacity: 0.5;
}